.dream{
    position: relative;
    padding-top: 50px;
    &__item--1{
        @extend .col-md-8;
        position: absolute !important;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: $color-secondary;
        min-height: 500px;
        padding: 20px 80px !important;
        color: $color-white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            margin-bottom: 30px;
        }
    }

    &__item--2{
        @extend .col-md-6;
        @extend .d-md-block;
        background-image:url(../img/p10.jpg);
        background-size: cover;
        width: auto;
        height: 500px;
        max-width: 80%;
    }
}

@media(max-width:767.9px){
    .dream__item--2{
        opacity: 0;
    }
}