footer{
    margin-top: 60px;
    border-top: 1px solid $color-primary;
    padding: 30px 0;
    text-align: center;

    li{
        list-style: none;
        a{
            color: $color-secondary !important;

            &:hover{
                border-bottom: 2px solid $color-primary;
            }
        }
    }
}

.footer__item{
    font-weight: 700;
}