// COLOR
$color-primary: #baff00;
$color-secondary: #000;
$color-white: #fff;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*:focus,
*:active{
    outline: none !important;
}

html {
    box-sizing: border-box;
}

/* TITLE */
h2{
    font-size: 54px !important;
    font-weight: 700 !important;
}

/* LINK */
a:hover{
    text-decoration: none !important;
}

/* MARGIN SECTION (not for the first item) */
section:not(:first-of-type){
    margin-top: 60px;
}

/* GREEN SPAN */
.item--green{
    background-color: $color-primary;
    color: $color-secondary;
}

/* BUTTONS */
.btn--type1{
    border: 2px solid $color-primary;
    border-radius: 5px;
    background: transparent;
    padding: 10px 30px;
    color: $color-white;
    font-weight: 700;
    margin-top: 30px;
    transition: all .6s;

    &:hover{
        background-color: $color-primary;
        color: $color-secondary;
    }
}
.btn--type2{
    border: 2px solid #000;
    background: transparent;
    padding: 10px 20px;
    font-weight: bold;

    &:hover{
        border-color: $color-primary;
        animation: swing 1s;
    }
}

/* ANIMATION */
@keyframes swing {
    20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: center; }
    20% { -webkit-transform: rotate(15deg); }
    40% { -webkit-transform: rotate(-10deg); }
    60% { -webkit-transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); }
}

