.navigation{
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-dark;
    @extend .fixed-top;
    background-color: $color-secondary;
    padding: 0 !important;
    background-color: transparent;
    transition: all .5s;

    &__brand,
    &__brand:hover{
        color: $color-white;
        font-size: 25px;
        font-weight: 600;
        padding: 15px 25px;
        background-color: $color-secondary;
    }
    
    &__items{
        @extend .navbar-nav;
        @extend .ml-auto;

        li{
            margin-right: 25px;

            a{
                position: relative;
                padding: 31px 10px 5px;
                text-transform: uppercase;
                margin-right: 10px;
                font-size: 14px;
                color: $color-white;
                font-weight: 500;

                &::after{
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 0;
                    left: 50%;
                    top: 0;
                    background: $color-primary;
                    transition: all 0.4s;
                }
                &:hover::after{
                    height: 25px;
                }
            }
        }
    }
}

@media(max-width:991.9px){
    .navigation__items li a::after{
        display: none;
    }
    .navigation{
        position: initial !important;
        background-color: $color-secondary;
        padding: 0 16px !important;
        &__items{
            text-align: center;
            padding-bottom: 30px;
            li{
                margin: 10px 0;
                a{
                    padding: initial;
                    transition: all .4s;
                    &::after{
                        position: initial;
                    }
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }
    }
}