.intro{
    overflow: hidden;

    &__items{
        @extend .carousel-inner;
        position: relative;
    }

    &__text{
        position: absolute; 
        top: 50%; left: 50%;
        transform: translate(-80%, -70%);

        h1{
            color: $color-white;
            font-size: 4rem;
            line-height: 1;
            font-weight: 700;
        }
    }
}

@media(max-width:991.9px){
    .intro{
        &__text{
            transform: translate(-70%, -60%);
            h1{
                font-size: 2rem;
            }
        }
    }
}

@media(max-width:767.9px){
    .intro{
        &__text{
            h1{
                font-size: 1.5rem;
            }
        }
    }
}