.portfolio{
    @extend .d-block;
    
    &__item{
        padding: 0 !important;
    }
    .row{
        padding: 0 !important;
        margin: 0 !important;
    }
}

.portfolio{
    margin-bottom: 150px;
}
