.presentation{
    &__item--1{
        @extend .col-sm-12;
        @extend .col-md-8;
    }
    &__item--2{
        @extend .col-sm-12;
        @extend .col-md-4;
        @extend .d-none;
        @extend .d-md-flex;
        // display: flex;
        align-items: center;
    }
}

@media(max-width:991.9px){
    .presentation__item--1 h2{
        font-size: 40px !important;
    }
}