.service{
    &__item{
        @extend .col-sm-6;
        @extend .col-md-4;

        &--readmore{
            color: $color-secondary;
            transition: all .4s;
            font-size: 14px;
        }
    }

    &__image{
        position: relative;
        margin-bottom: 30px;
        width: 100px;
        height: 125px;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        transition: all .4s;

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            left: 25px;
            top: -80px;
            transform: rotate(-65deg);
        }

        &--icon{
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all .3s;
            opacity: 0.2;
	        max-height: 70px;
        }
    }

}
.service__item:hover .service__image {
    background-color: #baff00;
    
    &--icon{
        transform: translate(10px,-5px);
        opacity: 1;
    }
}
.service__item:hover .service__item--readmore {
    padding: 2px 10px;
    background-color: #baff00;
    font-weight: 700;
    color: $color-secondary;
}